#contato {
  background-image: url("../../img/contato.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: $spacing-1;
  padding-bottom: $spacing-1;
  @include screen(notebook-s) {
    padding-top: $spacing-1-2;
    padding-bottom: $spacing-1-2;
  }
  @include screen(mobile) {
    padding-top: $spacing-2 + 1;
    padding-bottom: $spacing-2 + 1;
  }
  @include mbottom-1;
  h1 {
    @include title-1(40px);
    color: $w;
    span {
      margin-top: $spacing-3;
      @include screen(notebook-s) {
        margin-top: $spacing-3-2;
      }
      @include screen(mobile) {
        margin-top: 10px;
      }
    }
    @include screen(notebook-m) {
      font-size: px-rem(38px);
    }
    @include screen(notebook-s) {
      font-size: px-rem(32px);
    }
    @include screen(tablet) {
      font-size: px-rem(25px);
    }
    @include screen(mobile) {
      // text-align: center;
      font-size: px-rem(27px);
      // margin-bottom: 32px;
    }
  }
  div {
    display: flex;
    gap: 12px;
    @include container;
    align-items: center;
    justify-content: space-between;
    @include screen(mobile) {
      flex-direction: column;
      gap: 28px;
      align-items: flex-start;
      // padding-left: 40px;
    }
  }
  position: relative;
  a {
    background-color: $w;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: px-rem(20px);
    padding: 0.4em 1em;
    border-radius: 50px;
    img {
      max-width: 14px;
    }
    @include screen(notebook-s) {
      font-size: px-rem(18px);
    }
    @include screen(mobile) {
      align-self: center;
    }
  }
}
