footer {
  background-color: $w2;
  & > div {
    // @include container;
    & > img {
      padding-top: $spacing-3;
      padding-bottom: $spacing-3;
      @include align-div;
      max-width: 64px;
      @include screen(notebook-m) {
        max-width: 60px;
      }
      @include screen(tablet) {
        max-width: 52px;
      }
    }
    & > p {
      padding-top: $spacing-3;
      padding-bottom: $spacing-3;
      text-align: center;
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #dcdcdc;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  nav {
    ul {
      display: flex;
      align-items: center;
      gap: $spacing-3;
      flex-wrap: wrap;
      justify-content: center;
      @include mbottom-3;
    }
  }
}
