#portfolio {
  h2 {
    @include title-2;
    text-align: center;
    @include mbottom-2;
  }
  @include mbottom-1;
}

.image-box {
  max-width: 60vw;
  height: 70vh;
  @include screen(notebook-m) {
    max-width: 70vw;
    height: 80vh;
  }
  @include screen(tablet) {
    @include align-div;
    max-width: calc(100vw);
    height: 70vh;
  }
  @include screen(mobile) {
    height: 50vh;
  }
  img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.splide__pagination__page {
  width: 12px;
  height: 6px;
  border-radius: 0%;
  border-radius: 20px;
  transition: 0.3s;
  @include screen(tablet) {
    height: 4px;
  }
}

.splide__pagination__page.is-active {
  width: 40px;
  height: 6px;
  border-radius: 0%;
  border-radius: 20px;
  transform: none;
  transition: 0.3s;
  @include screen(tablet) {
    height: 4px;
  }
}
