#sobre {
  @include container;
  @include mbottom-1;
  text-align: center;
  h2 {
    @include title-2;
    @include mbottom-2;
  }
  p {
    @include text-1;
    max-width: 59ch;
    @include align-div;
    @include mbottom-3;
    strong {
      font-weight: 500;
    }
  }
}
